# Android Studio
/.idea
*.iml
.gradle/
local.properties
*.hprof

# Build outputs
/build/
*/build/

# Misc
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear
*.zip
*.tar
*.gz
*.7z
*.rar
*.swp
*.log
*.tmp

# NDK
/obj/
/libs/

